@import "../../../styles/colors.scss";

.service-card {
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        text-decoration: none;
        color: $base_color_dark10;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0 $overlay_color, 0 6px 20px 0 $overlay_color;
    }

    .card-img {
        width: 100%;
        max-height: 160px;
        overflow: hidden;
        border-bottom: 1px solid $overlay_color;
    }
}

.section-title {
    margin-bottom: 20px;
}

.providers-main-list {
    padding-top: 20px;
}

.card {
    margin-right: 20px;
}
