<div class="service-card">
    <h5 class="section-title">{{title}}</h5>
    <div class="row">
        <div *ngFor="let serviceProvider of serviceProviders" class="card" style="width: 18rem;">
            <a href="#">
                <div class="card-img">
                    <img class="card-img-top" src="{{serviceProvider.mainImagePath}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <span class="card-title">{{serviceProvider.name}}</span>
                    <div>
                        <ratings [ratesValue]="serviceProvider.averageRate"></ratings>
                        <span style="float: right; font-size: 14px;">{{serviceProvider.reviewCount}} reviews</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>